- title t('teams.teams'), :show => true

.list
  %table.teams{ :id => 'teams' }
    %thead
      %tr
        %th= t('teams.members')
        %th.ranking= t('teams.total_ranking')
        %th= t('teams.matches_won')
        %th= t('teams.matches_played')
        %th= t('teams.winning_percentage')
        %th{ :colspan => current_game.team_size }= t('teams.percent_of_matches')
        
    %tbody
      - @teams.each do |team|
        %tr{ :class => cycle('even', 'odd') }
          %td.user
            = link_to image_tag('icons/game.png', :class => 'team', :alt => t('show_teams_matches')), game_matches_path(current_game, :filter => team[:team_ids])
            = link_to image_tag('icons/chart_bar.png', :class => 'team'), game_team_path(current_game, team[:team_ids])
            = team[:players].collect { |u| user_link(current_game, u)}.join(', ')

          %td.ranking= team[:total_ranking]
          %td= team[:matches_won]
          %td= team[:matches_played]
          %td= team[:percentage].to_s + '%'
          - team[:players].each do |player|
            %td
              = (((team[:matches_played].to_f / (@game_participations.select { |gp| gp.user_id == player.id }.first).matches_played.to_f) * 1000).to_i / 10.0).to_s + '%'