- title 'Teams'[], :show => true

.list
  %table.teams{ :id => 'teams' }
    %thead
      %tr
        %th= 'Members'[]
        %th.ranking= 'Total ranking'[]
        %th= 'Matches won'[]
        %th= 'Matches played'[]
        %th= 'Winning percentage'[]
        %th{ :colspan => current_game.team_size }= '% of matches'[]
        
    %tbody
      - @teams.each do |team|
        %tr{ :class => cycle('even', 'odd') }
          %td.user
            = link_to image_tag('icons/game.png', :class => 'team', :alt => "Show this team's matches"[]), game_matches_path(current_game, :filter => team[:team_ids])
            = link_to image_tag('icons/chart_bar.png', :class => 'team'), game_team_path(current_game, team[:team_ids])
            = team[:players].collect { |u| user_link(current_game, u)}.join(', ')

          %td.ranking= team[:total_ranking]
          %td= team[:matches_won]
          %td= team[:matches_played]
          %td= team[:percentage].to_s + '%'
          - team[:players].each do |player|
            %td
              = (((team[:matches_played].to_f / (@game_participations.select { |gp| gp.user_id == player.id }.first).matches_played.to_f) * 1000).to_i / 10.0).to_s + '%'