%table.list
  %tr
    %th= 'Members'[]
    %th= 'Total ranking'[]
    %th= 'Games played'[]
    %th= 'Games won'[]
    %th= 'Winning percentage'[]

  - @teams.each do |team|
    %tr
      %td= team[:players].collect(&:full_name).join(' - ')
      %td= team[:total_ranking]
      %td= team[:games_played]
      %td= team[:games_won]
      %td= team[:percentage].to_s + '%'