- title 'Ranking chart for {first_name} and {second_name}'[:ranking_chart_for, h(@team_members.first.name), h(@team_members.last.name)]

#graph
  %h3= 'Ranking chart for {first_name} and {second_name}'[:ranking_chart_for, h(@team_members.first.name), h(@team_members.last.name)]
  - form_tag team_path(@ids.join(',')), :method => :get do
    = select_tag('period', options_for_select(time_periods, @time_period), :onchange => 'this.form.submit();')
    = submit_tag 'Update'[]
  = graph(formatted_team_url(params[:id], :graph, :period => @time_period))

- content_for :sidebar do
  .team
    .members.clear
      - @team_members.each do |user|
        .mugshot
          - if user.mugshot
            = link_to image_tag(user.mugshot.public_filename(:thumb), :alt => h(user.name)), user
          = link_to h(user.name), user

    .matchlink= link_to image_tag('icons/game.png', :class => 'team', :alt => "Show this team's matches"[]) + ' ' + 'Show matches'[], matches_path(:filter => @ids.join(','))
      
    #opponents
      %h3= 'Opponents'[]
      - @opponents.each do |opponent|
        .opponent{ :class => cycle('odd', 'even') }
          .members
            = link_to Team.team_members(opponent.team_ids).collect { |user| h(user.display_name) }.join(', '), team_path(opponent.team_ids)
          %label= 'Matches'[] + ':'
          = opponent.matches
          %label= 'Won'[] + ':'
          = opponent.wins