%table.list
  %tr
    %th= '&nbsp;'
    %th= 'Person'[]
    %th= 'Ranking'[]
    %th= 'Played'[]
    %th= 'Won'[]
    %th= 'Lost'[]
    %th= 'Win %'[]
    %th{ :title => 'Goals for'[] }= 'GF'[]
    %th{ :title => 'Goals against'[] }= 'GA'[]
    %th{ :title => 'Goals for - goals against'[] }= '+/-'
    %th= '+/- ' + 'Average'[]

  - people.each_with_index do |person, index|
    %tr{ :class => cycle('odd', 'even') }
      %td= index + start_at
      %td
        = link_to image_tag('icons/sport_soccer.png', :class => 'team', :alt => "Show this person's games"[]), games_path(:filter => person.id)
        = person.full_name
      %td= person.ranking
      %td= person.memberships_count
      %td= person.games_won
      %td= person.memberships_count - person.games_won
      %td= person.winning_percentage.to_s + '%'
      %td= person.goals_for
      %td= person.goals_against
      %td= person.difference
      %td= person.difference_average
  - reset_cycle