.list
  %h3
    = title
    - if details.length > 0
      %span.details= details
  %table
    %tr
      %th= '&nbsp;'
      %th= '&nbsp;'
      %th= 'Person'[]
      %th= 'Ranking'[]
      %th= 'Played'[]
      %th= 'Won'[]
      %th= 'Lost'[]
      %th= 'Win %'[]
      %th{ :title => 'Goal difference average'[] }= 'Diff. avg.'[]

    - people.each_with_index do |user, index|
      %tr{ :class => cycle('odd', 'even') }
        %td= index + start_at
        %td
          - if user.created_at <= 30.days.ago
            = position_icon(@positions[user.id])
            = '(' + @positions[user.id][:then].to_s + ')' unless @positions[user.id].blank?
          - else
            &nbsp;
        %td
          = link_to image_tag('icons/game.png', :class => 'team', :alt => "Show this user's matches"[]), matches_path(:filter => user.id)
          = user_link_full(user)
        %td= user.ranking
        %td= user.memberships_count
        %td= user.matches_won
        %td= user.matches_lost
        %td= user.winning_percentage.to_s + '%'
        %td= user.difference_average
    - reset_cycle
    
  - if start_at == 1
    .notes= "Numbers in parenthesis: user's position 30 days ago. The arrow indicates position movement."[]