%h3= 'Matches played per day'[]
= image_tag matches_per_day_chart(matches_per_day), :class => 'chart', :alt => 'Chart showing matches per day'[]

.list
  %table
    %tr
      %th.date= 'Date'[]
      %th.matches_played= 'Matches played'[]

    - matches_per_day.each do |day|
      %tr{ :class => cycle('odd', 'even') }
        %td.date= day[0].to_date.to_s :long
        %td.matches_played= day[1]
    - reset_cycle