.list
  %h3= t('dashboard.recent_matches.recent_matches')
  %table
    %tr
      %th.name= t('dashboard.recent_matches.team_one')
      %th.score= t('dashboard.recent_matches.score')
      %th.name= t('dashboard.recent_matches.team_two')
      %th &nbsp;

    - recent_matches.each do |match|
      %tr{ :class => cycle('even', 'odd') }
        = render :partial => 'matches/match_columns', :locals => { :match => match }
    - reset_cycle