%h3= 'Rankings'[]

%table.list
  %tr
    %th= '&nbsp;'
    %th= 'Person'[]
    %th= 'Ranking'[]

  - (@rankings + @newbies).each_with_index do |user, index|
    %tr{ :class => cycle('odd', 'even') }
      %td= index + 1
      %td= user.name
      %td= user.ranking
  - reset_cycle