- title 'Dashboard'[]

- cache(dashboard_path) do
  - if @rankings.size > 0
    %h3= 'Rankings'[]
    = render :partial => 'leaderboard', :locals => { :people => @rankings, :start_at => 1 }

  - if @newbies.size > 0
    %h3.noobs= 'Newbies'[]
    = render :partial => 'leaderboard', :locals => { :people => @newbies, :start_at => @rankings.size + 1 }

  .columns
    .left-column
      #recent_games
        %h3= 'Recent games'[]
        = render :partial => 'recent_games', :locals => { :recent_games => @recent_games }

    .right-column
      #games_per_day
        %h3= 'Games played per day'[]
        = render :partial => 'games_per_day', :locals => { :games_per_day => @games_per_day }

- content_for :sidebar do
  - cache(dashboard_path + '_sidebar') do
    #leader
      %h3= 'Leader'[]
      .mugshot= image_tag @leader.mugshot.public_filename(:thumb), :alt => @leader.full_name if @leader.mugshot
      = person_link_full @leader

    #counts
      %p
        %label= 'Games played'[] + ':'
        = @game_count
      %p
        %label= 'Goals scored'[] + ':'
        = @goals_scored
      %p
        %label= 'All time high'[] + ':'
        = link_to @all_time_high.current_ranking, game_path(@all_time_high.team.game), :class => 'game'
        = 'by'[]
        = person_link_full @all_time_high.person
      %p
        %label= 'All time low'[] + ':'
        = link_to @all_time_low.current_ranking, game_path(@all_time_low.team.game), :class => 'game'
        = 'by'[]
        = person_link_full @all_time_low.person

  - if logged_in?
    = render :partial => 'games/form'