%ul#welcome{ :title => 'Score Keeper', :selected => 'true' }
  %li= link_to 'Users', users_path
  %li= link_to 'About', '#about_scorekeeper'
  
#about_scorekeeper.panel{ :title => 'About' }
  %h2= 'Creator'[]
  %fieldset
    .row
      %label= 'Lars Geisler Sehested'

  %h2= 'Layout'[]
  %fieldset
    .row
      %label= 'Robert Hein'