- form_tag session_path do
  %label
    = 'Login'[]
    = text_field_tag 'login'
    
  %label
    = 'Password'[]
    = password_field_tag 'password'
    
  %label
    = 'Remember me'[] + ':'
    = check_box_tag 'remember_me'
    
  %p
    = submit_tag 'Log in'[]