- form_tag sessions_path do
  %label
    = label_tag :login, t('login.login')
    = text_field_tag 'login'

  %label
    = label_tag :password, t('login.password')
    = password_field_tag 'password'

  %label
    = label_tag :remember_me, t('login.remember_me') + ':'
    = check_box_tag 'remember_me'

  %p
    = submit_tag t('login.sign_in'), :disable_with => t('login.signing_in') + '&hellip;'
    = link_to t('login.forgot_password'), forgot_password_path