- form_tag sessions_path, :id => 'login', :title => 'Login'[], :class => 'panel', :selected => 'true', :target => '_self' do
  %h2= 'Login'[]
  %fieldset
    .row
      %label= 'Username'[]
      = text_field_tag 'login'
    .row
      %label= 'Password'[]
      = password_field_tag 'password'
      
  %fieldset
    .row
      %label= 'Remember me'
      .toggle{ :onclick => '' }
        %span.thumb
        %span.toggleOn= 'ON'[]
        %span.toggleOff= 'OFF'[]

  = submit_tag 'Sign in'[], :disable_with => 'Signing in'[] + '&hellip;', :class => 'button'