- form_tag sessions_path do
  %label
    = label_tag :login, 'Login'[]
    = text_field_tag 'login'
    
  %label
    = label_tag :password, 'Password'[]
    = password_field_tag 'password'
    
  %label
    = label_tag :remember_me, 'Remember me'[] + ':'
    = check_box_tag 'remember_me'
    
  %p
    = submit_tag 'Sign in'[], :disable_with => 'Signing in'[] + '&hellip;'
    = link_to 'Forgot password or username?'[], forgot_password_path