- if @selected_player_ids.size > 0
  #graph
    %h3= t('compare.ranking_chart')
    - form_tag game_comparisons_path(current_game), :method => :get do
      - @selected_player_ids.each do |player_id|
        = hidden_field_tag 'user[]', player_id
      = select_tag('period', options_for_select(time_periods, @time_period), :onchange => 'this.form.submit();')
      = submit_tag t('compare.update')
    
    .legend
      - @indexed_sorted_players.each do |isp|
        .player
          %span.color{ :style => "background-color: #{colors[isp.last]}" }
          %span.name= link_to isp.first.name, game_user_path(@game, isp.first)

    = graph(formatted_game_comparison_url(current_game, @selected_player_ids.join('-'), :chart, :period => @time_period))
- else
  #graph= t('compare.select_users')

- content_for :sidebar do
  - form_tag game_comparisons_path(@game), :method => :get, :id => 'compare_users' do
    - @players.each do |player|
      .player
        = check_box_tag 'user[]', player.id, @selected_player_ids.include?(player.id), :id => "user_#{player.id}"
        = label_tag "user_#{player.id}", player.name
        
    = submit_tag t('compare.compare')
