- title 'People'[]

%table.list
  %tr
    %th= '&nbsp;'
    %th= 'Name'[]
    %th= 'Display name'[]
    %th= '&nbsp;'
  - @people.each do |person|
    %tr.person{ :class => cycle('odd', 'even') }
      %td= image_tag person.mugshot.public_filename(:thumb), :alt => person.full_name if person.mugshot
      %td= link_to_if admin?, person.full_name, edit_person_path(person)
      %td= link_to person.display_name, person_path(person)
      %td= link_to 'Remove'[], person_path(person), :method => :delete, :confirm => 'Are you sure?' if admin?

- if admin?
  - form_for @person, :html => { :multipart => true } do |f|
    %h3= 'Add person'[]

    = render :partial => 'form', :locals => { :f => f }
    = submit_tag 'Save'[]