- title 'Ranking chart for {name}'[:ranking_chart_for, @person.full_name]

%h3= 'Ranking chart for {name}'[:ranking_chart_for, @person.full_name]
#graph= graph(formatted_person_games_url(@person.id, :graph))

- content_for :sidebar do
  .person
    - if @person.mugshot
      .mugshot= image_tag @person.mugshot.public_filename(:thumb), :alt => @person.full_name

    #counts
      %p.position
        %label= 'Position'[] + ':'
        = @person.position

      %p
        %label= 'Played games'[] + ':'
        = @person.memberships_count
  
      %table.for_against
        %tr
          %td.for
            %label= 'Games won'[] + ':'
            = @person.games_won
          %td.against
            %label= 'Games lost'[] + ':'
            = @person.games_lost

        %tr
          %td.for
            %label= 'Goals for'[] + ':'
            = @person.goals_for
          %td.against
            %label= 'Goals against'[] + ':'
            = @person.goals_against

        %tr
          %td.for
            %label= 'Best ranking'[] + ':'
            = link_to @all_time_high.current_ranking, game_path(@all_time_high.team.game), :class => 'game'
          %td.against
            %label= 'Worst ranking'[] + ':'
            = link_to @all_time_low.current_ranking, game_path(@all_time_low.team.game), :class => 'game'

      - admin_area do
        %p
          = link_to 'Edit'[], edit_person_path(@person)