<h1>Listing user_openids</h1>

<%= link_to 'New OpenID for account', new_user_user_openid_url %> | <%= link_to 'Back', edit_user_url(@user) %>

<table>
  <tr>
  </tr>

<% for user_openid in @user_openids %>
  <tr>
    <td><a href="<%= user_openid.openid_url %>"><%= user_openid.openid_url %></a></td>
    <td><%= link_to('Destroy', user_user_openid_path(@user, user_openid), :confirm => 'Are you sure?', :method => :delete) if current_user == @user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New OpenID for account', new_user_user_openid_url %> | <%= link_to 'Back', edit_user_url(@user) %>
