%h3= t('users.form.basics')
%table.form
  %tr
    %td.label= f.label t('users.form.login')
    %td.field= f.text_field :login, :class => 'text required'

  %tr
    %td.label= f.label :name, t('users.form.full_name')
    %td.field= f.text_field :name, :class => 'text required'

  %tr
    %td.label= f.label :display_name, t('users.form.display_name')
    %td.field
      = f.text_field :display_name, :class => 'text'
      .notes= t('users.form.display_name_help')

  %tr
    %td.label= f.label :email, t('users.form.email')
    %td.field
      = f.text_field :email, :class => 'text required'

  %tr
    %td.label= t('users.form.time_zone')
    %td.field
      = f.time_zone_select :time_zone, nil, :class => 'required'

  - unless @user.new_record?
    %tr
      %td.label &nbsp;
      %td.submit= submit_tag t('users.form.update'), :disable_with => t('users.form.updating') + '&hellip;'

%h3= t('users.form.password')
%table.form
  %tr
    %td.label= f.label :password, t('users.form.password')
    %td.field
      = f.password_field :password, :class => 'password' + (@user.new_record? ? ' required' : '')
      - unless @user.new_record?
        .notes= t('users.form.password_help')

  %tr
    %td.label= f.label :password_confirmation, t('users.form.confirm_password')
    %td.field= f.password_field :password_confirmation, :class => 'password' + (@user.new_record? ? ' required' : '')

  - unless @user.new_record?
    %tr
      %td.label &nbsp;
      %td.submit= submit_tag t('users.form.update'), :disable_with => t('users.form.updating') + '&hellip;'

- fields_for :mugshot do |fi|
  %h3= t('users.form.picture')
  %table.form
    %tr
      %td.label= f.label :uploaded_data, t('users.form.picture')
      %td.field
        = fi.file_field :uploaded_data
        .notes= t('users.form.picture_help')

    - unless @user.new_record?
      %tr
        %td.label &nbsp;
        %td.submit= submit_tag t('users.form.update'), :disable_with => t('users.form.updating') + '&hellip;'

- if account_admin?
  %h3= t('users.form.advanced')
  %table.form
    %tr
      %td.label= f.label :is_account_admin, t('users.form.account_admin')
      %td.field
        = f.check_box :is_account_admin
        .notes= t('users.form.account_admin_help')

    - if admin?
      %tr
        %td.label= f.label :is_admin, t('users.form.super_admin')
        %td.field= f.check_box :is_admin

    - unless @user.new_record?
      %tr
        %td.label &nbsp;
        %td.submit= submit_tag t('users.form.update'), :disable_with => t('users.form.updating') + '&hellip;'

- if @user.new_record?
  %h3= t('users.form.create_user')
  %table.form
    %tr
      %td.label &nbsp;
      %td.submit= submit_tag t('users.form.create_user'), :disable_with => t('users.form.creating_user') + '&hellip;'