%label
  = 'Login'[]
  = f.text_field :login

%label
  = 'Full name'[]
  = f.text_field :name

%label
  = 'Display name'[]
  = f.text_field :display_name

%label
  = 'Email'[]
  = f.text_field :email

%label
  = 'Password'[]
  = f.password_field :password
  
%label
  = 'Confirm Password'[]
  = f.password_field :password_confirmation

- fields_for :mugshot do |fi|
  %label
    = 'Picture'[]
    = fi.file_field :uploaded_data

- if account_admin?
  %label
    = 'Account administrator'[]
    = f.check_box :is_account_admin

- if admin?
  %label
    = 'Administrator'[]
    = f.check_box :is_admin