%label
  = 'Login'[]
  = f.text_field :login

%label  
  = 'Email'[]
  = f.text_field :email

%label
  = 'Password'[]
  = f.password_field :password
  
%label
  = 'Confirm Password'[]
  = f.password_field :password_confirmation
  
- if admin?
  %label
    = 'Administrator'[]
    = f.check_box :is_admin