- form_tag forgot_password_path do |f|
  %p
    Please enter either your username or e-mail address.

  %p
    %label= 'Username'[]
    = text_field_tag :username
      
  %p  
    %label= 'E-mail'[]
    = text_field_tag :email
    
  %p
    = submit_tag 'Continue'