- title 'Users'[]

#userlist.clear
  - @users.each_with_index do |user, index|
    .column.span-9{ :class => index.odd? ? 'last' : nil }
      .user
        .image
          - if user.mugshot
            = image_tag user.mugshot.public_filename(:thumb), :alt => h(user.name)
        .role= user.is_admin? ? 'Admin'[] : 'Normal'[]
        .name= user.name
        .email= mail_to user.email
        .created_at= user.created_at.to_s :long
        - if admin?
          .admin
            = link_to 'Edit'[], edit_user_path(user)
            = link_to 'Remove'[], user_path(user), :method => :delete, :confirm => 'Are you sure?'

- if admin?
  - content_for :sidebar do
    = error_messages_for :user
    - form_for @user, :html => { :multipart => true } do |f|
      %h3= 'Add user'[]

      = render :partial => 'form', :locals => { :f => f }
      = submit_tag 'Save'[]