#user.panel{ :title => h(@user.name) }
  %h2= 'Ranking'[]
  %fieldset
    .row
      %label= 'Points'[]
      %input{ :type => 'text', :value => @user.ranking }
    .row
      %label= 'Position'[]
      %input{ :type => 'text', :value => @user.position }

  %h2= 'Matches'[]
  %fieldset
    .row
      %label= 'Played'[]
      %input{ :type => 'text', :value => @user.matches_played }
    .row
      %label= 'Won'[]
      %input{ :type => 'text', :value => @user.matches_won }

  %h2= 'Goals'[]
  %fieldset
    .row
      %label= 'For'[]
      %input{ :type => 'text', :value => @user.goals_for }
    .row
      %label= 'Against'[]
      %input{ :type => 'text', :value => @user.goals_against }