- form_for :game, nil, :url => games_path do |f|
  .team
    %label= 'Team'[] + ':'
    = f.collection_select 'user11', all_users, :id, :name, { :prompt => 'Attack'[] }, { :class => 'user' }
    = f.collection_select 'user12', all_users, :id, :name, { :prompt => 'Defense'[] }, { :class => 'user' }
    %label= 'Score'[] + ':'
    = f.text_field 'score1', :class => 'score', :autocomplete => 'off'
  .team
    %label= 'Team'[] + ':'
    = f.collection_select 'user21', all_users, :id, :name, { :prompt => 'Attack'[] }, { :class => 'user' }
    = f.collection_select 'user22', all_users, :id, :name, { :prompt => 'Defense'[] }, { :class => 'user' }
    %label= 'Score'[] + ':'
    = f.text_field 'score2', :class => 'score', :autocomplete => 'off'
    = submit_tag 'Add'[], :disable_with => 'Adding'[] + '&hellip;'
    = link_to_function 'Cancel'[], "$('#add_game_form').hide()"