- form_for :match, nil, :url => game_matches_path(current_game) do |f|
  .team
    %label= 'Team'[] + ':'
    - (0...current_game.team_size).each do |position|
      = f.collection_select 'user1[]', enabled_users, :id, :name, { :prompt => current_game.role(position) }, { :class => 'user' }
    %label= 'Score'[] + ':'
    = f.text_field 'score1', :class => 'score', :autocomplete => 'off'
  .team
    %label= 'Team'[] + ':'
    - (0...current_game.team_size).each do |position|
      = f.collection_select 'user2[]', enabled_users, :id, :name, { :prompt => current_game.role(position) }, { :class => 'user' }
    %label= 'Score'[] + ':'
    = f.text_field 'score2', :class => 'score', :autocomplete => 'off'
    = submit_tag 'Add'[], :disable_with => 'Adding'[] + '&hellip;'
    = link_to_function 'Cancel'[], "$('#add_match_form').hide()"