#ft
  .content
    = "Copyright 2007-#{Date.today.year} by Lars Sehested"
    &middot;
    = link_to 'Project home', 'http://scorekeeper.dk/'
    &middot;
    = link_to 'Issue tracker', 'http://code.google.com/p/scorekeeper/issues/list'
    &middot;
    = link_to 'Source code', 'http://github.com/larssg/score-keeper/tree/master'