- if current_game.nil? || enabled_users.size < current_game.team_size * 2 || current_account.matches.size == 0
  #getting_started
    %h3= t('getting_started.heading')
    .help= t('getting_started.complete_these_steps')
  
    .step{ :class => current_account.games.count == 0 ? 'next' : nil }
      %span 1.
      = link_to_if current_account.games.count == 0, t('getting_started.create_game'), new_game_path
    
    .step{ :class => current_account.games.count > 0 && enabled_users.size < current_game.team_size * 2 ? 'next' : nil }
      %span 2.
      = link_to_if current_account.games.count > 0 && enabled_users.size < current_game.team_size * 2, t('getting_started.create_users'), new_user_path
    
    .step{ :class => !current_game.nil? && enabled_users.size >= current_game.team_size * 2 ? 'next' : nil }
      %span 3.
      = t('getting_started.add_match')
