#user
  - unless current_game.nil? || current_game.new_record?
    %span.current_user= link_to current_user.login, game_user_path(current_game, current_user)
  - else
    %span.current_user= link_to current_user.login, edit_user_path(current_user)

  |
  = link_to 'Feedback', 'http://feedback.scorekeepr.dk/', :target => '_blank'

  |
  - unless session[:real_user_id].blank?
    = link_to 'Unimpersonate', unimpersonate_sessions_path, :method => :put
    |
  = link_to 'Profile', edit_user_path(current_user)
  - if account_admin?
    |
    = link_to 'Manage account', edit_account_path(current_account)

  |
  = link_to 'Log out', logout_path