%h1 Welcome to Score Keeper

%p
  Score Keeper is a very simple web app for keeping score, rankings, etc. for matches.
  
%p
  Score Keeper now supports games with two teams of equal size such as 1-on-1, 2-on-2, etc.
  
- content_for :sidebar do
  %h2
    Create a new account

  %p
    = 'To create a new account, fill out <a href="{new_account_url}">this form</a>.'[:to_create_an_account, new_account_path]
    
  %h2
    Login
    
  %p
    - form_tag({ :controller => :pages, :action => 'login' }, { :id => 'domain_login' }) do
      = label_tag :domain, 'Domain'
      = text_field_tag :domain, nil, :id => 'domain'
      .notes= 'Enter the subdomain you signed up with.'
      
      = submit_tag 'Go', :class => 'submit'