%h2= 'Add game'[]

- form_for @game do |f|
  - fields_for :teams do |fi|
    %label
      %span= 'Attacker'[]
      = fi.collection_select 'person11', @person_list, :id, :full_name, :include_blank => true, :class => 'person'

    %label
      %span= 'Defender'[]
      = fi.collection_select 'person12', @person_list, :id, :full_name, :include_blank => true, :class => 'person'

    %label
      %span= 'Score'[]
      = fi.text_field 'score1', :class => 'score', :autocomplete => 'off'

    %h3= 'vs'[]

    %label
      %span= 'Score'[]
      = fi.text_field 'score2', :class => 'score', :autocomplete => 'off'

    %label
      %span= 'Attacker'[]
      = fi.collection_select 'person21', @person_list, :id, :full_name, :include_blank => true, :class => 'person'

    %label
      %span= 'Defender'[]
      = fi.collection_select 'person22', @person_list, :id, :full_name, :include_blank => true, :class => 'person'

  = submit_tag 'Add'[], :disable_with => 'Adding'[] + '&hellip;'