%h2= 'Add game'[]

- form_for @game do |f|
  - fields_for :teams do |fi|
    %label
      %span= 'Attacker'[]
      = fi.collection_select 'user11', @user_list, :id, :name, :include_blank => true, :class => 'user'

    %label
      %span= 'Defender'[]
      = fi.collection_select 'user12', @user_list, :id, :name, :include_blank => true, :class => 'user'

    %label
      %span= 'Score'[]
      = fi.text_field 'score1', :class => 'score', :autocomplete => 'off'

    %h3= 'vs'[]

    %label
      %span= 'Score'[]
      = fi.text_field 'score2', :class => 'score', :autocomplete => 'off'

    %label
      %span= 'Attacker'[]
      = fi.collection_select 'user21', @user_list, :id, :name, :include_blank => true, :class => 'user'

    %label
      %span= 'Defender'[]
      = fi.collection_select 'user22', @user_list, :id, :name, :include_blank => true, :class => 'user'

  = submit_tag 'Add'[], :disable_with => 'Adding'[] + '&hellip;'