%h3= 'Basics'[]
%table.form
  %tr
    %td.label= f.label :name
    %td.field= f.text_field :name, :class => 'text required'
    
  %tr
    %td.label= f.label :team_size
    %td.field
      - if @game.matches.size > 0
        = '{team_size}-on-{team_size}'[:team_size, @game.team_size, @game.team_size]
        .notes= 'This value cannot be changed because there are matches in the database.'[]
      - else
        - (1..3).each do |team_size|
          %div.radio
            = f.radio_button(:team_size, team_size, :id => "game_team_size_#{team_size}", :class => 'radio') + f.label("team_size_#{team_size}", "#{team_size}-on-#{team_size}")
        .notes= 'Number of players on each team.'[]

  %tr
    %td.label &nbsp;
    %td.submit= create_or_update_button @game
    
%h3= 'Details'[]
%table.form
  %tr
    %td.label= f.label :track_clean_sheets
    %td.field
      = f.check_box :track_clean_sheets
      .notes Enable to keep track of clean sheets.

  %tr
    %td.label= f.label :locked
    %td.field
      = f.check_box :locked
      .notes Used to prevent users from adding new matches to the game.

  %tr
    %td.label= 'Player roles'[]
    %td.field
      = f.text_area :player_roles
      .notes= 'Player roles, one per line. E.g.: Offense, Defense.'

  %tr
    %td.label= 'Rules'[]
    %td.field
      = f.text_area :rules

  %tr
    %td.label= 'Newbie limit'[]
    %td.field
      = f.text_field :newbie_limit, :class => 'text required small'
      .notes= 'Number of matches a user must play to be part of normal rankings.'[]

  %tr
    %td.label &nbsp;
    %td.submit= create_or_update_button @game
