%h3= 'Basics'[]
%table.form
  %tr
    %td.label= f.label :name
    %td.field= f.text_field :name, :class => 'text required'
    
  %tr
    %td.label= f.label :team_size
    %td.field
      - if @game.matches.size > 0
        = @game.team_size
      - else
        = f.text_field :team_size, :class => 'text required small'
        .notes= 'Must be between 1 and 3.'[]

  %tr
    %td.label &nbsp;
    %td.submit= create_or_update_button @game
    
%h3= 'Details'[]
%table.form
  %tr
    %td.label= 'Player roles'[]
    %td.field
      = f.text_area :player_roles
      .notes= 'Player roles, one per line. E.g.: Offense, Defense.'

  %tr
    %td.label= 'Rules'[]
    %td.field
      = f.text_area :rules

  %tr
    %td.label= 'Newbie limit'[]
    %td.field
      = f.text_field :newbie_limit, :class => 'text required small'
      .notes= 'Number of matches a user must play to be part of normal rankings.'[]

  %tr
    %td.label &nbsp;
    %td.submit= create_or_update_button @game
