- title 'Games'[]

- if @games.length > 0
  #games
    %table.list
      %tr
        %th= 'Team one'[]
        %th= 'Score'[]
        %th= 'Team two'[]
        %th= 'Created'[]
        %th= '&nbsp';
       
      - @games.each do |game|
        %tr
          %td
            - game.teams.first.memberships.each_with_index do |membership, index|
              = ' - ' if index == 1
              %span{ :title => membership.points_awarded }
                = membership.person.display_name
          
          %td.score= game.teams.collect(&:score).join(' - ')

          %td
            - game.teams.last.memberships.each_with_index do |membership, index|
              = ' - ' if index == 1
              %span{ :title => membership.points_awarded }
                = membership.person.display_name

          %td
            = game.played_at.to_s :short
            = ' by {user}'[:by_user, game.creator.login] if game.creator

          %td= link_to 'Delete', game_path(game), :method => :delete, :confirm => 'Delete game. Are you sure?'[] if logged_in?

  .pagination= will_paginate @games
        
- content_for :sidebar do
  - if logged_in?
    - form_for @game do |f|
      - fields_for :teams do |fi|
        %h3= 'Team one'
        %label
          %span= 'Attacker'[]
          = fi.collection_select 'person11', @people, :id, :full_name, :include_blank => true, :class => 'person'

        %label
          %span= 'Defender'[]
          = fi.collection_select 'person12', @people, :id, :full_name, :include_blank => true, :class => 'person'

        %label
          %span= 'Score'[]
          = fi.text_field 'score1', :class => 'score'

        %h3= 'Team two'[]
        %label
          %span= 'Score'[]
          = fi.text_field 'score2', :class => 'score'

        %label
          %span= 'Attacker'[]
          = fi.collection_select 'person21', @people, :id, :full_name, :include_blank => true, :class => 'person'

        %label
          %span= 'Defender'[]
          = fi.collection_select 'person22', @people, :id, :full_name, :include_blank => true, :class => 'person'
      
      = submit_tag 'Add'[], :disable_with => 'Adding'[] + '&hellip;'
  - else
    = 'Login to add a game.'[]