- title 'Games'[]

%h3= 'Last 10 games'[]

- if @games.length > 0
  %table#games.list
    %tr
      %th= 'Played at'[]
      %th.team_one= 'Team one'[]
      %th.score= 'Score'[]
      %th.team_two= 'Team two'[]
      %th= '&nbsp;'
    - @games.each do |game|
      %tr.game{:class => cycle('odd', 'even')}
        %td= game.played_at
        %td.team_one= game.teams.first.memberships.collect { |m| m.person.display_name }.join(' - ')
        %td.score= game.teams.collect(&:score).join(' - ')
        %td.team_two= game.teams.last.memberships.collect { |m| m.person.display_name }.join(' - ')
        %td= link_to 'Remove'[], game_path(game), :method => :delete, :confirm => 'Are you sure?'[]

- form_for @game do |f|
  %h3= 'Add game'[]

  - fields_for :teams do |fi|
    %table
      %tr
        %th= '&nbsp';
        %th= 'Score'[]
        %th= 'Attacker'[]
        %th= 'Defender'[]
      
      %tr
        %th= 'Team one'[]
        %td= fi.text_field 'score1'
        %td= fi.collection_select 'person11', @people, :id, :full_name, :include_blank => true
        %td= fi.collection_select 'person12', @people, :id, :full_name, :include_blank => true
      
      %tr
        %th= 'Team two'[]
        %td= fi.text_field 'score2'
        %td= fi.collection_select 'person21', @people, :id, :full_name, :include_blank => true
        %td= fi.collection_select 'person22', @people, :id, :full_name, :include_blank => true
      
  = submit_tag 'Save'[]