- if @games.size > 0
  .list
    %table
      %tr
        %th= t('games.name')
        %th= t('games.team_size')
        %th= t('games.actions')
      
      - @games.each do |game|
        %tr{ :class => cycle('even', 'odd') }
          %td= link_to h(game.name), session_path('switch_game', :current_game => { :id => game.id }), :method => :put
          %td= t('games.x_on_x').gsub('{team_size}', game.team_size.to_s)
          %td= link_to t('games.edit'), edit_game_path(game)

- else
  .list
    = t('games.no_games').gsub('{new_game_path}', new_game_path)

- content_for :sidebar do
  %h3= t('games.administration')
  = link_to t('games.create'), new_game_path