- title 'Games'[]

- if @games.length > 0
  - if @filter
    %p
      = 'Filter by <b>{first}</b> and <b>{second}</b>'[:filter, @filter[0].display_name, @filter[1].display_name]

  #games
    %table.list
      %tr
        %th= 'Team one'[]
        %th= 'Score'[]
        %th= 'Team two'[]
        %th= 'Created'[]
        %th= '&nbsp';

      - @games.each do |game|
        %tr{ :class => cycle('odd', 'even') }
          = render :partial => 'game_columns', :locals => { :game => game }

          %td
            = game.played_at.to_s :short
            = ' by {user}'[:by_user, game.creator.login] if game.creator

          %td= link_to 'Delete', game_path(game), :method => :delete, :confirm => 'Delete game. Are you sure?'[] if logged_in?

  .pagination= will_paginate @games
        
- content_for :sidebar do
  - if logged_in?
    - form_for @game do |f|
      - fields_for :teams do |fi|
        %label
          %span= 'Attacker'[]
          = fi.collection_select 'person11', @people, :id, :full_name, :include_blank => true, :class => 'person'

        %label
          %span= 'Defender'[]
          = fi.collection_select 'person12', @people, :id, :full_name, :include_blank => true, :class => 'person'

        %label
          %span= 'Score'[]
          = fi.text_field 'score1', :class => 'score', :autocomplete => 'off'

        %h3= 'vs'[]

        %label
          %span= 'Score'[]
          = fi.text_field 'score2', :class => 'score', :autocomplete => 'off'

        %label
          %span= 'Attacker'[]
          = fi.collection_select 'person21', @people, :id, :full_name, :include_blank => true, :class => 'person'

        %label
          %span= 'Defender'[]
          = fi.collection_select 'person22', @people, :id, :full_name, :include_blank => true, :class => 'person'
      
      = submit_tag 'Add'[], :disable_with => 'Adding'[] + '&hellip;'
  - else
    = 'Login to add a game.'[]

- content_for :head do
  = auto_discovery_link_tag :atom, formatted_games_url(:atom)