- title 'Games'[]

- if @games.length > 0
  #games
    %h3= 'Last {number} games'[:last_x_games, 5]
  
    - @games.each do |game|
      %div[game]
        .team_one= game.teams.first.memberships.collect { |m| m.person.display_name }.join(' - ')
        .score= game.teams.collect(&:score).join(' - ')
        .team_two= game.teams.last.memberships.collect { |m| m.person.display_name }.join(' - ')
        .clear
          %hr
        .meta
          .played_at= game.played_at.to_s :short
          .creator= 'by {user}'[:by_user, game.creator.login] if game.creator
        
- form_for @game do |f|
  - fields_for :teams do |fi|
    %table
      %tr
        %th= '&nbsp';
        %th= 'Score'[]
        %th= 'Attacker'[]
        %th= 'Defender'[]
      
      %tr
        %th= 'Team one'[]
        %td= fi.text_field 'score1'
        %td= fi.collection_select 'person11', @people, :id, :full_name, :include_blank => true
        %td= fi.collection_select 'person12', @people, :id, :full_name, :include_blank => true
      
      %tr
        %th= 'Team two'[]
        %td= fi.text_field 'score2'
        %td= fi.collection_select 'person21', @people, :id, :full_name, :include_blank => true
        %td= fi.collection_select 'person22', @people, :id, :full_name, :include_blank => true
      
  = submit_tag 'Save'[]