- if @games.size > 0
  .list
    %table
      %tr
        %th Name
        %th Team size
        %th Actions
      
      - @games.each do |game|
        %tr{ :class => cycle('even', 'odd') }
          %td
            = link_to h(game.name), session_path('switch_game', :current_game => { :id => game.id }), :method => :put
            - if game.locked?
              = css_image_tag('icons/lock.gif')
          %td= '{team_size}-on-{team_size}'[:team_size, game.team_size, game.team_size]
          %td= link_to 'Edit', edit_game_path(game)

- else
  .list
    = 'There are no games in the system. Please <a href="{new_game_path}">create a game</a> to get started.'[:no_games, new_game_path]

- content_for :sidebar do
  %h3 Administration
  = link_to 'Create game', new_game_path