#matches_per_day
  %h3= 'Matches played per day' 
  .list
    %table
      %tr
        %th.date= 'Date'
        %th.matches_played= 'Matches'

      - matches_per_day.each do |day|
        %tr{ :class => cycle('even', 'odd') }
          %td.date= human_date(day[0])
          %td.matches_played= day[1]
      - reset_cycle