- title match_title(@match), :show => true

#match
  %label Played at:
  = @match.played_at.to_s :long

  .rankings
    - [@match.winner, @match.loser].each_with_index do |team, team_index|
      .team.column.span-12{ :class => (team_index == 1 ? 'last' : nil) }
        %h3= team.winner? ? 'Winner' : 'Loser'
        .list
          %table
        
            %thead
              %tr
                %th Player
                %th.score Score
                %th Before
                %th Awarded
                %th After
          
            %tbody
              - team.memberships.each_with_index do |membership, index|
                %tr
                  %td= link_to h(membership.user.name), game_user_path(current_game, membership.user)
                  - if index == 0
                    %td.score{ :class => "team-#{current_game.team_size}", :rowspan => current_game.team_size }= team.score
                  %td= membership.current_ranking - membership.points_awarded
                  %td= membership.points_awarded
                  %td= membership.current_ranking
  
%h3 Comments
#comments
  - @comments.each_with_index do |comment, index|
    .comment{ :class => cycle('even', 'odd') }
      .mugshot= link_to image_tag(comment.user.mugshot.public_filename(:thumb), :alt => comment.user.name), game_user_path(@match.game_id, comment.user) if comment.user.mugshot
      .info
        %span.index= '#' + (index + 1).to_s + '&nbsp;'
        %span.user= link_to(h(comment.user.name), game_user_path(@match.game_id, comment.user), :name => "c#{comment.id}") + '&nbsp;'
        - if @match.winner.memberships.collect(&:user_id).include?(comment.user_id)
          %span.medal= css_image_tag('icons/medal_gold_2.png', :class => 'winner') + '&nbsp;'
        %span.time= time_ago_in_words(comment.created_at) + ' ago'
      .content{ :id => "content_#{comment.id}" }
        = render :partial => 'comments/comment', :object => comment
      .clear
        %hd

  - form_for @comment, :url => game_match_comments_path(@match.game_id, @match) do |f|
    = render :partial => 'comments/form', :locals => { :f => f }
      
    %p
      = submit_tag 'Add comment'