- title match_title(@match), :show => true

#match
  %label= 'Played at' + ':'
  = @match.played_at.to_s :long
  
%h3= 'Comments'
#comments
  - @comments.each_with_index do |comment, index|
    .comment{ :class => cycle('odd', 'even') }
      .mugshot= link_to image_tag(comment.user.mugshot.public_filename(:thumb), :alt => comment.user.name), user_path(comment.user) if comment.user.mugshot
      .info
        %span.index= '#' + (index + 1).to_s + '&nbsp;'
        %span.user= link_to(h(comment.user.name), comment.user) + '&nbsp;'
        %span.time= time_ago_in_words(comment.created_at) + ' ago'
      .content{ :id => "content_#{comment.id}" }
        = render :partial => 'comments/comment', :object => comment
      .clear
        %hd

  - form_for @comment, :url => game_match_comments_path(@match.game_id, @match) do |f|
    = render :partial => 'comments/form', :locals => { :f => f }
      
    %p
      = submit_tag 'Add comment'