- sidebar = yield :sidebar

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title
      = 'Score Keeper'[]
      - unless @page_title.blank?
        = ' - '
        = @page_title
    %link{ :rel => 'stylesheet', :href => 'http://yui.yahooapis.com/2.3.1/build/reset-fonts-grids/reset-fonts-grids.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'http://yui.yahooapis.com/2.3.1/build/base/base-min.css', :type => 'text/css' }
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag :all, :cache => true
    = yield :head

  %body
    #doc3{ :class => sidebar.blank? ? 'yui-t7' : 'yui-t5' }
      #hd
        #links
          = render :partial => 'shared/login'
          #languages
            = 'Language'[] + ':'
            = link_to_unless(language == 'en', 'English', :language => 'en')
            = link_to_unless(language == 'da', 'Dansk', :language => 'da')
    
        %h1= link_to image_tag('logo.gif'), root_url

        = render :partial => 'shared/menu'
    
      - unless @page_title.blank?
        %h2#page_title= @page_title
       
      #bd
        #yui-main
          %div{ :class => sidebar.blank? ? nil : 'yui-b' }
            #content.yui-g
              - if flash.keys.length > 0
                #messages
                  - flash.keys.each do |key|
                    %div{ :class => 'key', :id => "flash_#{key}" }= flash[key]
                = javascript_tag(visual_effect(:fade, "messages", :delay => 8))

              = yield
  
        - unless sidebar.blank?
          #sidebar.yui-b= sidebar
    
      #ft
        .content
          Copyright 2007 by Lars Sehested
          = '&middot;'
          = link_to 'Project home'[], 'http://code.google.com/p/scorekeeper/', :target => '_blank'
          = '&middot;'
          = link_to 'Report issue'[], 'http://code.google.com/p/scorekeeper/issues/entry', :target => '_blank'