- sidebar = render(:partial => 'shared/getting_started') + yield(:sidebar).to_s

!!! 5
%html
  %head
    %title= page_title
    = include_stylesheets :common, :media => 'all'
    /[if IE]
      = stylesheet_link_tag 'lib/ie', :media => 'screen, projection'
    = include_javascripts :common
    = yield :head

  %body
    .container
      #hd.column.span-24
        = css_image_tag('icons/header_right.gif', :id => 'header-right')
        = css_image_tag('icons/header_left.gif', :id => 'header-left')
      
        #links
          = render :partial => 'shared/login'

        #logo= link_to css_image_tag('logo.gif'), root_url

      #menu.clear
        .column.span-20= render :partial => 'shared/menu'
        - unless current_game.nil? || current_game.new_record?
          #add_match.column.span-4.last
            - if current_game.locked?
              .locked
                = css_image_tag('icons/lock.gif')
                Locked
            - else
              - if enabled_users.size >= current_game.team_size * 2
                #add_match_button= css_image_tag('icons/add.png') + ' ' + 'Add match'
              - else
                - if current_game.team_size * 2 - enabled_users.size == 1
                  #user_minimum= 'Add one more user'
                - else
                  #user_minimum= "Add #{current_game.team_size * 2 - enabled_users.size} more users"
      
      = render :partial => 'shared/submenu'
  
      - unless current_game.nil?
        #add_match_form.column.span-24{ :style => 'display: none' }
          = render :partial => 'shared/add_match_form'
  
      - unless @page_title.blank?
        - if @page_title_options[:show]
          .visible
            %h2#page_title
              %span= @page_title
        - else
          %h2#page_title= @page_title

      .column.span-24
        #bd.column{ :class => sidebar.blank? ? 'span-24' : 'span-18' }
          - if flash.keys.length > 0
            #messages
              - flash.keys.each do |key|
                %div{ :class => key, :id => "flash_#{key}" }= flash[key]

          #main= yield

        - unless sidebar.blank?
          #sidebar.column.span-6.last
            .content
              = sidebar

      .column.span-24= render :partial => 'shared/footer'

    = yield :footer
    = render :partial => 'shared/google_analytics' unless Rails.env == 'development'