!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title
      = 'Score Keeper'[]
      - unless @page_title.blank?
        = ' - '
        = @page_title
    %link{ :rel => 'stylesheet', :href => 'http://yui.yahooapis.com/2.3.0/build/reset/reset-min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'http://yui.yahooapis.com/2.3.0/build/base/base-min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'http://yui.yahooapis.com/2.3.0/build/fonts/fonts-min.css', :type => 'text/css' }
    = stylesheet_link_tag :all

  %body
    #header
      #links
        - if logged_in?
          #user
            = current_user.login
            = link_to 'Logout', logout_path
        - else
          #user
            = link_to 'Login', login_path
          
        #languages
          = 'Language'[] + ':'
          = link_to_unless(language == 'en', 'English', :language => 'en')
          = link_to_unless(language == 'da', 'Dansk', :language => 'da')
    
      %h1= link_to 'Score Keeper'[], home_url
      
      %ul#menu
        %li{:class => controller.controller_name == 'dashboard' ? 'current' : ''}= link_to 'Dashboard'[], dashboard_path
        %li{:class => controller.controller_name == 'games' ? 'current' : ''}= link_to 'Games'[], games_path
        %li{:class => controller.controller_name == 'people' ? 'current' : ''}= link_to 'People'[], people_path
        
      .clear
        %hr
  
    - unless @page_title.blank?
      %h2#page_title= @page_title
     
    #content
      - if flash.keys.length > 0
        #messages
          - flash.keys.each do |key|
            %div{ :class => 'key' }= flash[key]
    
      = yield

      .clear
        %hr

    #footer
      Copyright 2007 by Lars Sehested
      = '&middot;'
      = link_to 'Project home'[], 'http://code.google.com/p/scorekeeper/', :target => '_blank'
      = '&middot;'
      = link_to 'Report issue'[], 'http://code.google.com/p/scorekeeper/issues/entry', :target => '_blank'