- sidebar = render(:partial => 'shared/getting_started') + yield(:sidebar).to_s

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title= page_title
    = stylesheet_link_tag 'lib/reset', 'lib/typography', 'lib/grid', 'lib/forms', 'screen', :media => 'screen, projection', :cache => 'cache/all'
    /[if IE]
      = stylesheet_link_tag 'lib/ie', :media => 'screen, projection'
    = yield :head

  %body
    .container
      #hd.column.span-24
        #links
          = render :partial => 'shared/login'

        #logo= link_to image_tag('logo.gif'), root_url

      #menu.clear
        .column.span-20= render :partial => 'shared/menu'
        - unless current_game.nil? || current_game.new_record?
          #add_match.column.span-4.last
            - if enabled_users.size >= current_game.team_size * 2
              = link_to_function image_tag('icons/add.png') + ' ' + 'Add match'[], "scoreKeeper.newMatch.toggle();"
            - else
              - if current_game.team_size * 2 - enabled_users.size == 1
                #user_minimum= 'Add one more user'[:add_one_more_user]
              - else
                #user_minimum= 'Add {users_needed} more users'[:add_x_more_ser, current_game.team_size * 2 - enabled_users.size]
      
      = render :partial => 'shared/submenu'
  
      - unless current_game.nil?
        #add_match_form.column.span-24{ :style => 'display: none' }
          = render :partial => 'shared/add_match_form'
  
      - unless @page_title.blank?
        - if @page_title_options[:show]
          .visible
            %h2#page_title
              %span= @page_title
        - else
          %h2#page_title= @page_title

      .column.span-24
        #bd.column{ :class => sidebar.blank? ? 'span-24' : 'span-18' }
          - if flash.keys.length > 0
            #messages
              - flash.keys.each do |key|
                %div{ :class => key, :id => "flash_#{key}" }= flash[key]

          #main= yield

        - unless sidebar.blank?
          #sidebar.column.span-6.last
            .content
              = sidebar

      .column.span-24= render :partial => 'shared/footer'

    = javascript_include_tag 'swfobject', 'jquery', 'jquery-ui', 'jquery-fx', 'jquery.tablesorter', 'jrails', 'application', :cache => 'cache/all'
    = render :partial => 'shared/google_analytics' unless Rails.env == 'development'