- sidebar = yield :sidebar

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title= page_title
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'lib/ie', :media => 'screen, projection'
    = javascript_include_tag :defaults
    = javascript_include_tag 'swfobject'
    = yield :head

  %body
    .container
      #hd.column.span-24
        #links
          = render :partial => 'shared/login'
          #languages
            = 'Language'[] + ':'
            = link_to_unless(language == 'en', 'English', :language => 'en')
            = link_to_unless(language == 'da', 'Dansk', :language => 'da')
  
        #logo= link_to image_tag('logo.gif'), root_url

      #menu.clear
        .column.span-16= render :partial => 'shared/menu'
        #add_game.column.span-8.last
          - if all_users.size >= 4
            = link_to_function image_tag('icons/add.png') + ' ' + 'Add game'[], "$('#add_game_form').toggle()"
          - else
            #user_minimum= 'You need at least 4 users'[]
          
      #add_game_form.column.span-24{ :style => 'display: none' }
        = render :partial => 'shared/add_game_form'
  
      - unless @page_title.blank?
        %h2#page_title= @page_title
      .column.span-24
        #bd.column{ :class => sidebar.blank? ? 'span-24' : 'span-18' }
          - if flash.keys.length > 0
            #messages
              - flash.keys.each do |key|
                %div{ :class => 'key', :id => "flash_#{key}" }= flash[key]
            = javascript_tag "$('#messages').pause(8000).Fade();"

          = yield

        - unless sidebar.blank?
          #sidebar.column.span-6.last
            .content= sidebar
  
      .column.span-24= render :partial => 'shared/footer'