- sidebar = yield :sidebar

!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title= page_title
    - if RAILS_ENV == 'production'
      = stylesheet_link_tag 'base'
    - else
      = stylesheet_link_tag 'lib/reset', 'lib/typography', 'lib/grid', 'lib/forms', 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'lib/ie', :media => 'screen, projection'
    = yield :head

  %body
    .container
      #hd.column.span-24
        #links
          = render :partial => 'shared/login'
          #languages
            = 'Language'[] + ':'
            = link_to_unless(language == 'en', 'English', :language => 'en')
            = link_to_unless(language == 'da', 'Dansk', :language => 'da')
  
        #logo= link_to image_tag('logo.gif'), root_url

      #menu.clear
        .column.span-16= render :partial => 'shared/menu'
        - unless current_game.nil?
          #add_match.column.span-8.last
            - if enabled_users.size >= current_game.team_size * 2
              = link_to_function image_tag('icons/add.png') + ' ' + 'Add match'[], "scoreKeeper.newMatch.toggle();"
            - else
              #user_minimum= 'You need at least {user_minimum} users'[:you_need_user_minimum_users, current_game.team_size * 2]
  
      - unless current_game.nil?
        #add_match_form.column.span-24{ :style => 'display: none' }
          = render :partial => 'shared/add_match_form'
  
      - unless @page_title.blank?
        - if @page_title_options[:show]
          .visible
            %h2#page_title
              %span= @page_title
        - else
          %h2#page_title= @page_title

      .column.span-24
        #bd.column{ :class => sidebar.blank? ? 'span-24' : 'span-18' }
          - if flash.keys.length > 0
            #messages
              - flash.keys.each do |key|
                %div{ :class => 'key', :id => "flash_#{key}" }= flash[key]

          #main= yield

        - unless sidebar.blank?
          #sidebar.column.span-6.last
            .content= sidebar
  
      .column.span-24= render :partial => 'shared/footer'
    - if RAILS_ENV == 'production'
      = javascript_include_tag 'base'
    - else
      = javascript_include_tag 'jquery', 'jquery-ui', 'jquery-fx', 'jquery.tablesorter', 'application'