!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title
      = 'Score Keeper'
      - unless @page_title.blank?
        = ' - '
        = @page_title
    = stylesheet_link_merged
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'lib/ie', :media => 'screen, projection'
    = yield :head

  %body.login
    .border
      .container
        #hd
          #links

          #logo= link_to image_tag('logo.gif'), root_url
  
        - unless @page_title.blank?
          %h2#page_title= @page_title
        #bd
          - if flash.keys.length > 0
            #messages
              - flash.keys.each do |key|
                %div{ :class => 'key', :id => "flash_#{key}" }= flash[key]
            = javascript_tag "$('#messages').pause(8000).Fade();"

          .content= yield

      = render :partial => 'shared/footer'
    = javascript_include_merged