- sidebar = yield :sidebar

!!! 5
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title
      Score Keeper
      - unless @page_title.blank?
        = ' - '
        = @page_title
    = stylesheet_link_tag 'lib/reset', 'lib/typography', 'lib/grid', 'lib/forms', 'sprites', 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'lib/ie', :media => 'screen, projection'
    = yield :head

  %body.public
    .container
      #hd
        = css_image_tag('icons/header_right.gif', :id => 'header-right')
        = css_image_tag('icons/header_left.gif', :id => 'header-left')
      
        #logo= link_to css_image_tag('logo.gif'), root_url

      - unless @page_title.blank?
        - if @page_title_options[:show]
          .visible
            %h2#page_title
              %span= @page_title
        - else
          %h2#page_title= @page_title

      #bd.column{ :class => sidebar.blank? ? 'span-24' : 'span-18' }
        - if flash.keys.length > 0
          #messages
            - flash.keys.each do |key|
              %div{ :class => 'key', :id => "flash_#{key}" }= flash[key]
          = javascript_tag "$('#messages').pause(8000).Fade();"

        .content= yield

      - unless sidebar.blank?
        #sidebar.column.span-6.last
          .content= sidebar

      = render :partial => 'shared/footer'
    = javascript_include_tag 'swfobject', 'jquery', 'jquery-ui', 'jquery-fx', 'jquery.tablesorter', 'jrails', 'application', :cache => 'cache/all'
    = render :partial => 'shared/google_analytics' unless Rails.env == 'development'
