- form_for @account do |f|
  %h3= 'Basics'[]
  %table.form
    %tr
      %td.label= 'Subdomain'[]
      %td.field
        http://
        = f.text_field :domain, :class => 'text domain'
        = '.' + account_domain

    %tr
      %td.label= 'Time zone'[]
      %td.field
        = f.time_zone_select :time_zone, nil
  
  %h3= 'First user'[]
  - fields_for @user do |u|
    %table.form
      %tr
        %td.label= 'Username'[]
        %td.field
          = u.text_field :login, :class => 'text'

      %tr
        %td.label= 'Email'[]
        %td.field
          = u.text_field :email, :class => 'text'

      %tr
        %td.label= 'Password'[]
        %td.field
          = u.password_field :password, :class => 'text'

      %tr
        %td.label= 'Confirm Password'[]
        %td.field
          = u.password_field :password_confirmation, :class => 'text'

      %tr
        %td.label &nbsp;
        %td.field
          = submit_tag 'Sign up'