- form_for @account do |f|
  .field
    %label= 'Name'
    = f.text_field :name
    
  .field#subdomain
    %label= 'Subdomain'
    http://
    = f.text_field :domain
    = '.' + account_domain
  
  %h3= 'First user'
  
  - fields_for @user do |u|
    .field
      %label= 'Username'
      = u.text_field :login
    
    .field
      %label= 'Email'
      = u.text_field :email

    .field
      %label= 'Full name'[]
      = u.text_field :name

    .field
      %label= 'Display name'[]
      = u.text_field :display_name

    .field
      %label= 'Password'[]
      = u.password_field :password

    .field
      %label= 'Confirm Password'[]
      = u.password_field :password_confirmation
  
  .field
    = submit_tag