- title 'Account settings', :show => true

= error_messages_for :account

- form_for current_account do |f|
  %h3= 'Basics'[]
  %table.form
    %tr
      %td.label= 'Newbie limit'[]
      %td.field
        = f.text_field :newbie_limit, :class => 'small text required'
        .notes= 'Number of matches a user must play to be part of normal rankings.'[]
    
    %tr
      %td.label &nbsp;
      %td.submit= submit_tag 'Update'