- title 'Account settings', :show => true

= error_messages_for :account

- form_for current_account do |f|
  %h3= 'Basics'[]
  %table.form
    %tr
      %td.label= 'Name'[]
      %td.field
        = f.text_field :name, :class => 'text required'

    %tr
      %td.label= 'Newbie limit'[]
      %td.field
        = f.text_field :newbie_limit, :class => 'text required small'
        .notes= 'Number of matches a user must play to be part of normal rankings.'[]

    %tr
      %td.label= 'Time zone'[]
      %td.field
        = f.time_zone_select :time_zone, nil, :class => 'required'
        .notes= 'Default time zone for users in the account.'[]
    
    %tr
      %td.label &nbsp;
      %td.submit= submit_tag 'Update'