- title 'Accounts'
.list
  %table
    %tr
      %th= link_to 'Name', :order => 'name'
      %th Domain
      %th Users
      %th Matches
      %th= link_to 'Created', :order => 'created_at'
    - @accounts.each do |account|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to h(account.name), account
        %td= h(account.domain)
        %td= account.users.count
        %td= account.matches.count
        %td= account.created_at