- title t('accounts.accounts')
.list
  %table
    %tr
      %th= link_to t('accounts.name'), :order => 'name'
      %th= t('accounts.domain')
      %th= t('accounts.users')
      %th= t('accounts.matches')
      %th= link_to t('accounts.created'), :order => 'created_at'
    - @accounts.each do |account|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to h(account.name), account
        %td= h(account.domain)
        %td= account.users.count
        %td= account.matches.count
        %td= account.created_at