- title "Details for #{h(@account.name)}"
.list
  %table
    %tr
      %th= 'Name'
      %th= 'Display name'
      %th= 'E-mail'
      %th= 'Matches'
      %th= 'Actions'
    - @account_users.each do |user|
      %tr{ :class => cycle('odd', 'even') }
        %td= h(user.name)
        %td= user.display_name
        %td= mail_to user.email
        %td= user.matches_played
        %td= link_to 'Impersonate', impersonate_session_path(user), :method => :put